@model Service.Models.Employee

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.Partial("Partial/ChildForm")
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            $('#OnGoing').click(function () {
                if ($('#OnGoing').is(':checked')) {
                    $('#EndDay').prop('disabled', true);
                    $('#EndMonth').prop('disabled', true);
                    $('#EndYear').prop('disabled', true);
                }
                else {
                    $('#EndDay').prop('disabled', false);
                    $('#EndMonth').prop('disabled', false);
                    $('#EndYear').prop('disabled', false);
                }

            });
        });
    </script>
}
