@model Service.Models.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.Partial("Partial/ChildForm")
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $('#OnGoing') 
        if ($('#OnGoing').is(':checked')) {
            $('#EndDay').prop('disabled', true);
            $('#EndMonth').prop('disabled', true);
            $('#EndYear').prop('disabled', true);
        }
    </script>
}
